<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Amaysim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEA3BFE51E24D0740026966F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEA3BFF91E24D0750026966F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEA3C0041E24D0750026966F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
